html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

}
footer{
  color: gray;
}
.proj {
  padding-left: 3rem;
}
.contact {
  text-decoration: underline;
  padding: 3px;
}
.greeting {
  font-size: 50px;
  border-bottom: 10px;
  max-width: 15em;

}
a:link, .post-ttl, .post-ttl:visited {
  color: #2F595C;
  text-decoration: none;
  font-family: 'DM Serif Display', serif;
}
/* a:link, a:visited {
text-decoration: none;
color: black;
} */
.post-title {
  color: black;
}
.name{
  font-family: 'DM Serif Display', serif;
  font-size: 30px;
}
.tl-r {
  text-align: right;
}
.pa-l {
  padding: 2rem;
}
.center {
    margin-right: auto;
    margin-left: auto;
}
.bl {
    border-left-style: solid;
    border-left-width: 1px;
}

.b--blue {
    border-color: #408bc9;
}

.bw2 {
    border-width: .25rem;
}

.athelas {
    font-family: athelas, georgia, serif;
}

.fs-normal {
    font-style: normal;
}

.tracked {
    letter-spacing: .1em;
}

.lh-copy {
    line-height: 1.5;
}

.black-90 {
    color: rgba(0, 0, 0, .9);
}

.pa4 {
    padding: 2rem;
}

.pl4 {
    padding-left: 2rem;
}

.ml0 {
    margin-left: 0;
}

.mt0 {
    margin-top: 0;
}

.ttu {
    text-transform: uppercase;
}

.f5 {
    font-size: 1rem;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 50em;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .f4-m {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 60em) {
    .f3-l {
        font-size: 1.5rem;
    }
}
body {
  background-color: white;
  font-family: sans-serif;
}
.href {
  text-decoration: none;
}
a:visited {
    color:black;
    text-decoration: none;
}
.home {
  display: block;
  }
@media all  and (max-width: 960px) {
/* CSS rules here for screens lower than 750px */

  .greeting {
    font-size: 60px;
    max-width: 15em;
    text-align: center;
  }

  p.greeting {
    display: block;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
  .measure{
    max-width: none;
  }
  ul {
    align: center;
  }
  footer {
    text-align: center;
  }
}


@media all and (min-width: 750px) {
/* CSS rules here for screens above 750px */
}
